/* Section Menu */

header
{
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
}
header>svg
{
    display: none;
}
a
{
    text-decoration: none;
}
li
{
    text-align: initial;
}
.logo
{
    left: 5px;
}
.wrapper
{
    position: relative;
    margin: 0;
    margin-left: auto;
    margin-top: 0px;
    display: initial;
}
.wrapper>li
{
    margin-top: 0px;
}
header>ul>li>a
{
    padding: 10px;
}
.sub-menu>li>a
{
    color: black;
}
header>ul>li, header>ul>ul>li{
    display: inline-block;
    vertical-align: top;
}
header li:hover .sub-menu
{
    display: block;
}
.sub-menu
{
    display: none;
    position: absolute;
    z-index: 10;
    background: #F29D35;
    padding-left: 0px;
    margin-top: 10px;
}
.sub-menu>li
{
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.sub-menu>li:hover
{
    background: #F2F2F2;
}
.sub-menu>li>a:hover, header>ul>li>a:hover
{
    color: #F29D35;
}

/* Accueil : Section diapo */

/* .diapo
{
    width: 76.5vw;
    height: 53.33vw;
} */
.flex2
{
    position: absolute;
    display: flex;
    margin-left: 5vw;
    justify-content: space-evenly;
}
.diapo>.imgdiapo
{
    display: flex;
    transition: 2s;
}
.rondd
{
    transform: translate(0px, 20vw);
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background: gray;
    opacity: 0.7;
    z-index: 2;
}
.droitee
{
    margin-left: 75vw;
}
.rondd>svg
{
    margin-top: 10px;
    margin-left: 10px;
}
.imgdiapo>.image>img
{
    width: 98.5vw;
}
.image>p
{
    position: relative;
    width: 100%;
    bottom: 35vh;
    left: 0px;
    font-size: 56px;
    background: gray;
    opacity: 0.5;
}
.filtre
{
    position: absolute;
    z-index: 5;
    width: 20vw;
    height: 11.62vw;
}

/* Accueil : Section grand axes */

#grandaxe
{
    padding-top: 25px;
    padding-bottom: 25px;
}
.grandaxe>.flexcenter
{
    margin-right: 10vw;
}
.grandaxe>.flexcenter>.flex
{
    display: flex;
    height: auto;
}
.flexcenter>.flex>div
{
    width: 20vw;
    height: 11.62vw;
    background-size: 100%;
}
.derriere
{
    width: 20vw;
    height: 11.62vw;
    position: absolute;
    color: white;
    z-index: 1;
}
.derriere>div
{
    margin-top: 9.75vw;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid white;
    width: 16vw;
    padding-left: 1vw;
}
.devant
{
    position: absolute;
    width: 20vw;
    height: 11.62vw;
    z-index: 2;
}
.agence>.devant
{
    display: none;
}
.alimentation>.devant
{
    background-image: url("../img/photo-1529973565457-a60a2ccf750d.jpg");
    background-size: 100%;
    margin-top: 0px;
}
.exercice>.devant
{
    background-image: url("../img/photo-1483721310020-03333e577078.jpg");
    background-size: 100%;
    margin-top: 0px;
}
.reservation>.devant
{
    background-image: url("../img/photo-1559030623-0226b1241edd.jpg");
    background-size: 105%;
    margin-top: 0px;
}
.reservation>.derriere, .alimentation>.derriere, .exercice>.derriere
{
    margin-top: 0px;
}
.translate
{
    transform: translateY(-2.5vw);
}

/* Accueil : Exercices */

.gridexo
{
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 33vw 33vw 33vw;
}
.cardio, .musculation, .prdema
{
    grid-column: span 2;
}
.lien1>a, .lien2>a, .lien3>a
{
    color: white;
    border: 2px solid white;
    margin-left: 45%;
    padding: 5px;
    border-radius: 5px;
}
.prdema>h1, .prdema>p, .musculation>h1, .musculation>p, .cardio>p, .cardio>h1
{
    position: absolute;
    z-index: 6;
    padding-left: 15px;
}
.cardio>h1, .prdema>h1, .musculation>h1
{
    font-size: 45px;
    margin-top: 55px;
}
.cardio>p, .prdema>p, .musculation>p
{
    font-size: 17px;
    margin-top: 125px;
    width: initial;
}

/* Réservation */

form
{
    margin-left: 15vw;
}
.contact
{
    position: initial;
}
.input1
{
    width: 260px;
}
.input2
{
    width: 530px;
}
.padding11
{
    margin-top: 5px;
}
.textarea
{
    padding-bottom: 125px;
}
.submit
{
    border-bottom: none;
    width: 530px;
    background: white;
    color: black;
}
.h1
{
    margin-top: 0px;
    margin-left: 5%;
}

#map
{
    margin-left: 5vw;
    width: 35vw;
    height: 316px;
}
.filtre3
{
    z-index: -5;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 700px;
    height: 100vh;
    background: gray;
    opacity: 0.7;
}
.reservationfoot
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/* Agence */

.noir{
    background-color: black;
    width: 100vw;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    z-index: -1;
}
.banderole1{
    display: flex;
    justify-content: center;
    padding: 50px;
    opacity: 0;
    animation: fondu 3s;
}
.bloc1{
    display: grid;
    /* grid-template-columns: 366.867px 600px;
    grid-template-rows: 400px 200px; */
    grid-template-columns: 15vw 30vw;
    grid-template-rows: 18.06vw 9.03vw;
    height: 27.10vw;
    width: 45vw;
    margin-right: 300px;
    background-color: #F29D35;
    border-radius: 30px;
    box-shadow: 10px 10px 15px gray;
}
.banderole2{
    display: flex;
    justify-content: center;
    padding: 50px;
    opacity: 0;
    animation: fondu2 4s;
    animation-delay: 1s;
}
.bloc2{
    display: grid;
    grid-template-columns: 30vw 15vw;
    grid-template-rows: 9.03vw 18.06vw;
    height: 27.10vw;
    width: 45vw;
    background-color: #26A699;
    margin-left: 400px;
    border-radius:30px;
    box-shadow: 10px 10px 15px gray;
}
@keyframes fondu {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
@keyframes fondu2 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
.image2{
    height: 100%;
    width: 15vw;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    background-image: url("../img/chien.jpg");
    background-size: 115%;
    grid-row: span 2;
}
.texte{
    height: 14.04vw;
    /* width: 500px; */
    width: 25vw;
    padding: 25px;
    font-size:20px;
    margin-left: 40px;
}
.boutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18vw;
    margin-top: 3.5vw;
    height: 2.5vw;
    width: 10vw;
    background-color: wheat;
    border-radius: 100px;
}
.btn, .btn2{
    font-size: 18px;
}
.texte2{
    height: 100%;
    width: 25vw;
    padding: 50px;
    font-size:20px;
}
.image3{
    height: 100%;
    width: 15vw;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    background-image: url("../img/chien.jpg");
    background-size: 115%;
    grid-row: span 2;
}
.boutton2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vw;
    height: 2.5vw;
    width: 10vw;
    background-color: wheat;
    border-radius: 100px;
}

/* Agence : Equipe */

.premier{
    display: flex;
    font-size: 50px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

hr{
    border : solid 5px white;
    width: 50vw;
    margin-bottom: 70px;
}


.ligne1{
    display: flex;
    margin: 30px;
}
.carre1, .carre2, .carre3, .carre4
{
    width: 45vw;
    height: 19.76vw;
    background-color: transparent;
    display: flex;
}
.carre2, .carre4
{
    margin-top: auto;
}
.ligne2{
    display: flex;
    margin-top: auto;
}
.photo1, .photo2, .photo3, .photo4
{
    width: 44.44%;
    height: 100%;
    border-top-left-radius:28px;
    border-bottom-left-radius:28px;
}
.photo1{
    background-size: 100%;
}
.photo2{
    background-size: 100%;
}
.photo3{
    background-size: 100%;
}
.photo4{
    background-size: 100%;
}

/* Osman */

.contenu1, .contenu2, .contenu3, .contenu4
{
    height: 29vw;
    width: 25vw;
}

.nom1, .nom2, .nom3, .nom4
{
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: white;
}

.osman{
    width: 12vw;
    border : 3px solid white;
    margin-bottom: 50px;
}

.description1, .description2, .description3, .description4
{
    padding: 15px;
    font-size: 1.05vw;
    color: white;
    padding-bottom: 20px;
    height: 15vw;
    width: auto;
}


/* Valentin */

.valentin{
    width: 12vw;
    border : 3px solid white;
    margin-bottom: 50px;
}

/* Mustafa */

.mustafa{
    width: 12vw;
    border : 3px solid white;
    margin-bottom: 50px;
}

/* Albin */

.albin{
    width: 12vw;
    border : 3px solid white;
    margin-bottom: 50px;
}

/* Agence : Partenaire */

.title{
    padding: 20px;
    background-image: url("../img/sable.jpg");
    font-size: 100%;
}

.yes{
    display: flex;
    justify-content: center;
    font-size: 45px;
}

.square1, .square2, .square3, .square4
{
    width: 70vw;
    height: 36.73vw;

} 
.immg1, .immg2, .immg3, .immg4
{
    width: 30vw;
    height: 36.7vw;
}

/* Pour NIKE */

.nike{
    display: flex;
}

.square1{
    background-color: #F29D35;
}

.immg1{
    background-image: url("../img/nike.jpg");
    background-size:100%;
}


.test1{
    display: flex;
    justify-content: center;
}
.txt1{
    text-align: center;
    width: 60vw;
    padding-top: 40px;
}

.cont1, .cont2, .cont3, .cont4
{
    font-size: 1.75vw;
    margin-top: 3vw;
}


/* Pour WWE */

.wwe{
    display: flex;
}


.immg2{
    background-image:url("../img/wwe.jpg");
    background-size:104%;
}

.square2{
    background: #26A699;
}


.test2{
    display: flex;
    justify-content: center;
}
.txt2{
    text-align: center;
    width: 60vw;
    padding-top: 40px;
}

/* Pour JOHN CENA */

.cena{
    display: flex;
}

.immg3{
    background-image: url("../img/johncena.jpg");
    background-size: 100%;
}

.square3{
    background-color: #F29D35;
}

.test3{
    display: flex;
    justify-content: center;
}
.txt3{
    text-align: center;
    width: 60vw;
    padding-top: 40px;
}


/* Pour THE ROCK */

.rock{
    display: flex;
}

.immg4{
    background-image: url("../img/therock.jpg");
    background-size: 100%;
}

.square4{
    background-color: #26A699;
}

.test4{
    display: flex;
    justify-content: center;
}
.txt4{
    text-align: center;
    width: 60vw;
    padding-top: 40px;
}

/* Alimentation */

.image4{
    height: 100%;
    width: 15vw;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    background-image: url("../img/recette.jpg");
    background-size: 100%;
    grid-row: span 2;
}
.image5{
    height: 100%;
    width: 15vw;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    background-image: url("../img/shaker.jpg");
    background-size: 100%;
    grid-row: span 2;
}
.bloc10
{
    display: grid;
    /* grid-template-columns: 366.867px 600px;
    grid-template-rows: 400px 200px; */
    grid-template-columns: 15vw 30vw;
    grid-template-rows: 18.06vw 9.03vw;
    height: 27.10vw;
    width: 45vw;
    margin-right: 300px;
    background-color: #26A699;
    border-radius: 30px;
    box-shadow: 10px 10px 15px gray;
}
.bloc11
{
    display: grid;
    grid-template-columns: 30vw 15vw;
    grid-template-rows: 9.03vw 18.06vw;
    height: 27.10vw;
    width: 45vw;
    background-color: #F29D35;
    margin-left: 400px;
    border-radius:30px;
    box-shadow: 10px 10px 15px gray;
}
.boutton10{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18vw;
    margin-top: 5.5vw;
    height: 2.5vw;
    width: 10vw;
    background-color: wheat;
    border-radius: 100px;
}
.boutton11{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    margin-left: 2vw;
    height: 2.5vw;
    width: 10vw;
    background-color: wheat;
    border-radius: 100px;
}
.texte10
{
    height: 14.04vw;
    width: 25vw;
    padding: 5px;
    font-size:1vw;
    margin-left: 40px;
}
.texte10>p, .texte10>h1{
    margin-left: 10px;
}
.texte11>p, .texte11>h1{
    margin-left: 2.5vw;
}
.texte10>p, .texte11>p
{
    font-size: 1.5vw;
}
.texte10>h1, .texte11>h1
{
    margin-top: 0px;
}
.texte11
{
    height: 100%;
    width: 25vw;
    padding: 5px;
    font-size:1vw;
}

/* Exercice */

.aa
{
    font-size: 1.25vw;
}
.banderole3{
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
}
.banderole4{
    display: flex;
    gap: 80px;
    margin-top: 5vw;
    justify-content: center;
}
.bloc3, .bloc4, .bloc5, .bloc6, .bloc7, .bloc8, .bloc9
{
    width: initial;
    height: initial;
    margin-left: initial;
}
.filtre3, .filtre4, .filtre5, .filtre6, .filtre7, .filtre8,.filtre9
{
    position: absolute;
}
.filtre3, .filtre4, .filtre5, .filtre6, .filtre7, .filtre8,.filtre9, .image6, .image7, .image8, .image9, .image10, .image11, .image12
{
    width: 20vw;
    height: 15.03vw;
}
.image6, .image7, .image8, .image9, .image10, .image11, .image12
{
    position: initial;
    transform: translateY(0px);
}
.image6{
    background-image: url("../img/cardio.jpg");
    background-size: 115%;
    border-radius: 20px;
}

.filtre3{
    left: 15vw;
    opacity: 0.4;
    background-color:black;
    border-radius: 20px;
}

.image7{
    background-image: url("../img/musculation.jpg");
    background-size: 115%;
    border-radius: 20px;
}

.filtre4{
    opacity: 0.4;
    background-color:black;
    border-radius: 20px;
}

.image8{
    background-image: url("../img/masse.jpg");
    background-size: 135%;
    border-radius: 20px;
}

.filtre5{
    opacity: 0.2;
    background-color:black;
    border-radius: 20px;
}

.image9{
    background-image: url("../img/poids.jpg");
    background-size: 135%;
    border-radius: 20px;
}

.filtre6{
    position: absolute;
    opacity: 0.4;
    background-color:black;
    border-radius: 20px;
}

.image10{
    background-image: url("../img/etirement.jpg");
    background-size: 115%;
    border-radius: 20px;
}

.filtre7{
    opacity: 0.4;
    background-color: black;
    border-radius: 20px;
}

.image11{
    background-image: url("../img/equilibre.jpg");
    background-size: 100%;
    border-radius: 20px;
}

.filtre8{
    opacity: 0.4;
    background-color: black;
    border-radius: 20px;
}

.image12{
    background-image:url("../img/domicile.jpg");
    background-size: 115%;
    border-radius: 20px;
}

.filtre9{
    opacity: 0.4;
    background-color: black;
    border-radius: 20px;
}
.texte3, .texte4, .texte5, .texte6, .texte7, .texte8, .texte9
{
    position: absolute;
    color: white;
    font-size: 1.25vw;
    width: 19vw;
    text-align: center;
}
.texte3, .texte4, .texte5, .texte6
{
    top: 12vw;
}
.texte7, .texte8, .texte9
{
    top: 33.5vw;
}
.texte3{
    left : 2vw;
}

.texte4{
    left: 28vw;
}

.texte5{
    right: 27vw;
}

.texte6{
    right: 1vw;
}
.texte7{
    left: 13vw;
}

.texte8{
    left: 40vw;
}

.texte9{
    right: 14vw;
}
.boutton3, .boutton4, .boutton5, .boutton6, .boutton7, .boutton8, .boutton9
{
    width: 15vw;
}
.boutton3, .boutton4, .boutton5, .boutton6
{
    top: 19.03vw;
}
.boutton7, .boutton8, .boutton9
{
    top: 40.02vw;
}
.boutton3{
    display: flex;
    position: absolute;
    left: 2.25vw;
    justify-content: center;
    padding : 15px 20px;
    border : solid 2px white;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}
.boutton4{
    display: flex;
    position: absolute;
    left: 28vw;
    justify-content: center;
    padding : 15px 20px;
    border : solid 2px white;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}
.boutton5{
    display: flex;
    position: absolute;
    right: 28vw;
    left: auto;
    justify-content: center;
    padding : 15px 20px;
    border : solid 2px white;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}
.boutton6{
    display: flex;
    position: absolute;
    right: 2.25vw;
    left: auto;
    justify-content: center;
    padding : 15px 20px;
    border : solid 2px white;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}

.boutton7{
    display: flex;
    position: absolute;
    left: 15.75vw;
    right: auto;
    justify-content: center;
    padding : 15px 20px;
    border : solid 2px white;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}

.boutton8{
    display: flex;
    position: absolute;
    left: 41vw;
    right: auto;
    justify-content: center;
    padding : 15px 20px;
    border : solid 2px white;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}

.boutton9{
    display: flex;
    position: absolute;
    right: 15.75vw;
    left: auto;
    justify-content: center;
    padding : 15px 20px;
    border : solid 2px white;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}
.bloc3{
    opacity: 0;
    animation: pop1 2s;
    animation-delay: 2.2s;
    border : transparent 10px solid;
    border-radius: 30px;
}

.bloc4{
    opacity: 0;
    animation: pop2 2s;
    animation-delay: 1.7s;
    border : transparent 10px solid;
    border-radius: 30px;
}

.bloc5{
    opacity: 0;
    animation: pop3 2s;
    animation-delay: 2.6s;
    border : transparent 10px solid;
    border-radius: 30px;
}

.bloc6{
    opacity: 0;
    animation: pop4 2s;
    animation-delay: 3s;
    border : transparent 10px solid;
    border-radius: 30px;
}

.bloc7{
    opacity: 0;
    animation: pop5 2s;
    animation-delay: 1s;
    border : transparent 10px solid;
    border-radius: 30px;
}

.bloc8{
    opacity: 0;
    animation: pop6 2s;
    animation-delay: 2s;
    border : transparent 10px solid;
    border-radius: 30px;
}

.bloc9{
    opacity: 0;
    animation: pop7 2.3s;
    animation-delay: 3.2s;
    border : transparent 10px solid;
    border-radius: 30px;
}

@keyframes pop1 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes pop2 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes pop3 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes pop4 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes pop5 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes pop6 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes pop7 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

.bloc3:hover{
    border : #F29D35 10px solid;
    border-radius: 30px;
    transition: 1s;
}

.bloc4:hover{
    border : #26A699 10px solid;
    border-radius: 30px;
    transition: 1s;
}

.bloc5:hover{
    border : #26A699 10px solid;
    border-radius: 30px;
    transition: 1s;
}

.bloc6:hover{
    border : #F29D35 10px solid;
    border-radius: 30px;
    transition: 1s;
}

.bloc7:hover{
    border : #26A699 10px solid;
    border-radius: 30px;
    transition: 1s;
}

.bloc8:hover{
    border : #F29D35 10px solid;
    border-radius: 30px;
    transition: 1s;
}

.bloc9:hover{
    border : #F29D35 10px solid;
    border-radius: 30px;
    transition: 1s;
}

.filtre3:hover{
    opacity: 0;
    transition: 1s;
}

.filtre4:hover{
    opacity: 0;
    transition: 1s;
}

.filtre5:hover{
    opacity: 0;
    transition: 1s;
}

.filtre6:hover{
    opacity: 0;
    transition: 1s;
}

.filtre7:hover{
    opacity: 0;
    transition: 1s;
}


.filtre8:hover{
    opacity: 0;
    transition: 1s;
}

.filtre9:hover{
    opacity: 0;
    transition: 1s;
}
.mich
{
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}