/* Section Menu */

header
{
    padding-bottom: 0px;
    display: flex;
}
header>svg
{
    display: none;
}
li
{
    text-align: initial;
}
.logo
{
    left: 5px;
}
.wrapper
{
    position: relative;
    margin: 0;
    margin-left: auto;
    margin-top: 0px;
    display: initial;
}
.wrapper>li
{
    margin-top: 0px;
}
.sub-menu>li>a
{
    color: black;
}
header>ul>li, header>ul>ul>li{
    display: inline-block;
    vertical-align: top;
}
header li:hover .sub-menu
{
    display: block;
}
.sub-menu
{
    position: absolute;
    z-index: 15;
    background: #EFC334;
    padding-left: 0px;
    margin-top: 10px;
}
.sub-menu>li
{
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.sub-menu>li:hover
{
    background: #FFFDEF;
}
.sub-menu>li>a:hover, header>ul>li>a:hover
{
    color: #EFC334;
}

/* Accueil : Section diapo */

.rondd
{
    transform: translate(0px, 20vw);
    width: 75px;
    height: 75px;
}
.droitee
{
    margin-left: 75vw;
}
.rondd>svg
{
    margin-top: 10px;
    margin-left: 10px;
}
.imgdiapo>.image>img
{
    width: 98.5vw;
}
.image>p
{
    width: 100%;
    bottom: 35vh;
    font-size: 56px;
}
.filtre
{
    z-index: 5;
    width: 20vw;
    height: 11.62vw;
}

/* Accueil : Section grand axes */

.grandaxe>.flexcenter
{
    margin-right: 10vw;
}
.grandaxe>.flexcenter>.flex
{
    display: flex;
    height: auto;
}
.flexcenter>.flex>div
{
    width: 20vw;
    height: 11.62vw;
    background-size: 100%;
}
.derriere
{
    width: 20vw;
    height: 11.62vw;
}
.derriere>div
{
    margin-top: 9.75vw;
    margin-left: 10px;
    width: 16vw;
}
.devant
{
    position: absolute;
    width: 20vw;
    height: 11.62vw;
    z-index: 2;
}
.alimentation>.devant, .reservation>.derriere, .alimentation>.derriere, .exercice>.derriere, .reservation>.devant, .exercice>.devant
{
    margin-top: 0px;
}
.reservation>.devant
{
    background-size: 105%;
}
.translate
{
    transform: translateY(-2.5vw);
}

/* Accueil : Exercices */

.lien1>a, .lien2>a, .lien3>a
{
    margin-left: 45%;
}
.cardio>h1, .prdema>h1, .musculation>h1
{
    font-size: 45px;
    margin-top: 55px;
}
.cardio>p, .prdema>p, .musculation>p
{
    font-size: 17px;
    margin-top: 125px;
    width: initial;
}

/* Réservation */

form
{
    margin-left: 15vw;
}
.contact
{
    position: initial;
}
.input1
{
    width: 260px;
}
.input2
{
    width: 530px;
}
.padding11
{
    margin-top: 5px;
}
.textarea
{
    padding-bottom: 125px;
}
.submit
{
    border-bottom: none;
    width: 530px;
    background: white;
    color: black;
}
.h1
{
    margin-top: 0px;
    margin-left: 5%;
}

#map
{
    margin-left: 5vw;
    width: 35vw;
    height: 316px;
}
.filtre3
{
    z-index: 15;
    position: absolute;
    top: 0px;
    right: 0px;
    background: gray;
    opacity: 0.7;
}
.reservationfoot
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/* Agence */

.banderole1{
    display: flex;
}
.bloc1{
    display: grid;
    grid-template-columns: 15vw 30vw;
    grid-template-rows: 18.06vw 9.03vw;
    height: 27.10vw;
    width: 45vw;
}
.banderole2{
    padding: 50px;
}
.bloc2{
    display: grid;
    grid-template-columns: 30vw 15vw;
    grid-template-rows: 9.03vw 18.06vw;
    height: 27.10vw;
    width: 45vw;
    background-color: #26A699;
    margin-left: 400px;
}
@keyframes fondu {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
.image2
{
    width: 15vw;
}
.texte
{
    width: 25vw;
    padding: 25px;
    font-size:1.25vw;
    margin-left: 40px;
}
.boutton{
    margin-left: 18vw;
    margin-top: 3.5vw;
    height: 2.5vw;
    width: 10vw;
}
.btn, .btn2{
    font-size: 18px;
}
.texte2{
    width: 25vw;
    padding: 50px;
    font-size:20px;
}
.image3{
    width: 15vw;
}
.boutton2{
    margin-top: 0px;
    height: 2.5vw;
    width: 10vw;
}

/* Agence : Equipe */

.premier{
    font-size: 50px;
}

hr{
    width: 50vw;
}
.ligne1{
    display: flex;
    margin: 30px;
}
.carre1, .carre2, .carre3, .carre4
{
    width: 45vw;
    height: 19.76vw;
    display: flex;
}
.carre2, .carre4
{
    margin-top: auto;
}
.ligne2{
    display: flex;
    margin-left: 0px;
}
.photo1, .photo2, .photo3, .photo4
{
    width: 44.44%;
    height: 100%;
    border-top-left-radius:28px;
    border-bottom-left-radius:28px;
}
.photo1{
    background-size: 100%;
}
.photo2{
    background-size: 100%;
}
.photo3{
    background-size: 100%;
}
.photo4{
    background-size: 100%;
}

/* Osman */

.contenu1, .contenu2, .contenu3, .contenu4
{
    height: 29vw;
    width: 25vw;
}
.nom1, .nom2, .nom3, .nom4
{
    font-size: 35px;
    margin-top: 20px;
}
.description1, .description2, .description3, .description4
{
    font-size: 1.05vw;
    padding-bottom: 20px;
    height: 15vw;
    width: auto;
}

/* Agence : Partenaire */

.yes{
    font-size: 45px;
}
.square1, .square2, .square3, .square4
{
    width: 70vw;
    height: 36.73vw;

} 

/* Pour NIKE */

.txt1, .txt2, .txt3, .txt4
{
    text-align: center;
    width: 60vw;
    padding-top: 40px;
}

/* Alimentation */

.image4{
    width: 15vw;
}
.image5{
    width: 15vw;
}
.bloc10
{
    grid-template-columns: 15vw 30vw;
    grid-template-rows: 18.06vw 9.03vw;
    height: 27.10vw;
    width: 45vw;
    background-color: #26A699;
    border-radius: 30px;
}
.bloc11
{
    grid-template-columns: 30vw 15vw;
    grid-template-rows: 9.03vw 18.06vw;
    height: 27.10vw;
    width: 45vw;
    margin-left: 400px;
}
.boutton10, .boutton11
{
    height: 2.5vw;
    width: 10vw;
}
.boutton10{
    margin-left: 18vw;
    margin-top: 5.5vw;
}
.boutton11{
    margin-top: 1.9vw;
    margin-left: 2vw;
}
.texte10
{
    width: 25vw;
    font-size:1vw;
    margin-left: 40px;
}
.texte10>p, .texte11>p
{
    font-size: 1.4vw;
}
.texte11
{
    width: 25vw;
    font-size:1vw;
}

/* Alimentation : Recette */

.connexion1{
    display: flex;
}
.rec1, .rec2, .rec3, .rec4, .rec5
{
    width: 25vw;
    height: 36.23vw;
    margin-left: 0px;
    grid-template-rows: 6.63vw 29.6vw;
}
.rec2, .rec3, .rec5
{
    margin-top: 0%;
}
.tiitle1, .tiitle2, .tiitle3, .tiitle4, .tiitle5
{
    text-align: center;
    padding: 2vw;
    font-size: 1.5vw;
}
.kontour1, .kontour2, .kontour3, .kontour4, .kontour5
{
    width: 22.5vw;
    height: 29vw
}
.pics1, .pics2, .pics3, .pics4, .pics5
{
    width: 20vw;
    height: 12.12vw;
    margin-top: 5%;
}
.blabla1, .blabla2, .blabla3, .blabla4, .blabla5
{
    font-size: 0.7vw;
}
.mouv2{
    display: flex;
    justify-content: center;
    width: 90%;
}

/* 2eme recette */

.mouv4{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

/* 3eme recette */

.mouv6{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

/* 4eme recette */

.mouv8{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

/* 5eme recette */

.mouv10{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}
.connexion2{
    display: flex;
}

/* Alimentation : Shakers */

.yes2
{
    display: flex;
    justify-content: center;
    font-size: 45px;
}
.titlee{
    padding: 20px;
    background-image: url("../img/water.jpg");
    background-size: 100%;
}

/* 1er shaker */

.shaker1{
    display: flex;
}
.pik1{
    background-image:url("../img/bottle.jpg");
    width: 30vw;
    height: 31.57vw;
    background-size:104%;
}
.karri1{
    width: 70vw;
    height: 31.57vw;
    background: #26A699;
}
.taper1{
    display: flex;
    justify-content: center;
}
.high1, .high2, .high3, .high4
{
    font-size: 1.75vw;
}
.xtx1, .xtx2, .xtx3, .xtx4
{
    padding-top: 40px;
}
.sin1, .sin2, .sin3, .sin4
{
    font-size: 1.5vw;
    margin-top: 3vw;
}

/* 2eme shaker */

.shaker2{
    display: flex;
}
.pik2{
    background-image:url("../img/phone.jpg");
    width: 30vw;
    height: 31.57vw;
    background-size:100%;
}
.karri2{
    width: 70vw;
    height: 31.57vw;
    background: #EFC334;
}
.taper2{
    display: flex;
    justify-content: center;
}

/* 3eme shaker */

.shaker3{
    display: flex;
}
.pik3{
    background-image:url("../img/shirt.jpg");
    width: 30vw;
    height: 31.57vw;
    background-size:100%;
}
.karri3{
    width: 70vw;
    height: 31.57vw;
    background: #26A699;
}
.taper3{
    display: flex;
    justify-content: center;
}

/* 4eme shaker */

.shaker4{
    display: flex;
}
.pik4{
    background-image:url("../img/visite.jpg");
    width: 30vw;
    height: 31.57vw;
    background-size:104%;
}
.karri4{
    width: 70vw;
    height: 31.57vw;
    background: #EFC334;
}
.taper4{
    display: flex;
    justify-content: center;
}

/* Exercice */

.aa
{
    font-size: 1.25vw;
}
.banderole3{
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
}
.banderole4{
    display: flex;
    gap: 80px;
    margin-top: 5vw;
    justify-content: center;
}
.filtre3, .filtre4, .filtre5, .filtre6, .filtre7, .filtre8,.filtre9, .bloc3, .bloc4, .bloc5, .bloc6, .bloc7, .bloc8, .bloc9
{
    width: initial;
    height: initial;
    margin-left: initial;
}
.filtre3, .filtre4, .filtre5, .filtre6, .filtre7, .filtre8,.filtre9
{
    position: absolute;
}
.image6, .image7, .image8, .image9, .image10, .image11, .image12
{
    width: 20vw;
    height: 15.03vw;
}
.image6, .image7, .image8, .image9, .image10, .image11, .image12
{
    position: initial;
    transform: translateY(0px);
}
.image6{
    background-image: url("../img/cardio.jpg");
    background-size: 115%;
    border-radius: 20px;
}

.filtre3{
    left: 15vw;
    opacity: 0.4;
    background-color:black;
    border-radius: 20px;
}

.image7{
    background-image: url("../img/musculation.jpg");
    background-size: 115%;
    border-radius: 20px;
}

.filtre4{
    opacity: 0.4;
    background-color:black;
    border-radius: 20px;
}

.image8{
    background-image: url("../img/masse.jpg");
    background-size: 135%;
    border-radius: 20px;
}

.filtre5{
    opacity: 0.2;
    background-color:black;
    border-radius: 20px;
}

.image9{
    background-image: url("../img/poids.jpg");
    background-size: 135%;
    border-radius: 20px;
}

.filtre6{
    position: absolute;
    opacity: 0.4;
    background-color:black;
    border-radius: 20px;
}

.image10{
    background-image: url("../img/etirement.jpg");
    background-size: 115%;
    border-radius: 20px;
}

.filtre7{
    opacity: 0.4;
    background-color: black;
    border-radius: 20px;
}

.image11{
    background-image: url("../img/equilibre.jpg");
    background-size: 100%;
    border-radius: 20px;
}

.filtre8{
    opacity: 0.4;
    background-color: black;
    border-radius: 20px;
}

.image12{
    background-image:url("../img/domicile.jpg");
    background-size: 115%;
    border-radius: 20px;
}

.filtre9{
    opacity: 0.4;
    background-color: black;
    border-radius: 20px;
}
.texte3, .texte4, .texte5, .texte6, .texte7, .texte8, .texte9
{
    position: absolute;
    color: white;
    font-size: 1.25vw;
    width: 19vw;
    text-align: center;
}
.texte3, .texte4, .texte5, .texte6
{
    top: 12vw;
}
.texte7, .texte8, .texte9
{
    top: 33.5vw;
}
.texte3{
    left : 2vw;
}

.texte4{
    left: 28vw;
}

.texte5{
    right: 27vw;
}

.texte6{
    right: 1vw;
}
.texte7{
    left: 13vw;
}

.texte8{
    left: 40vw;
}

.texte9{
    right: 14vw;
}
.boutton3, .boutton4, .boutton5, .boutton6, .boutton7, .boutton8, .boutton9
{
    width: 15vw;
}
.boutton3, .boutton4, .boutton5, .boutton6
{
    top: 19.03vw;
}
.boutton7, .boutton8, .boutton9
{
    top: 40.02vw;
}
.boutton3{
    display: flex;
    position: absolute;
    left: 2.25vw;
    justify-content: center;
    padding : 15px 20px;
    border : solid 2px white;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}
.boutton4{
    display: flex;
    position: absolute;
    left: 28vw;
    justify-content: center;
    padding : 15px 20px;
    border : solid 2px white;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}
.boutton5{
    display: flex;
    position: absolute;
    right: 28vw;
    left: auto;
    justify-content: center;
    padding : 15px 20px;
    border : solid 2px white;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}
.boutton6{
    display: flex;
    position: absolute;
    right: 2.25vw;
    left: auto;
    justify-content: center;
    padding : 15px 20px;
    border : solid 2px white;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}

.boutton7{
    display: flex;
    position: absolute;
    left: 15.75vw;
    right: auto;
    justify-content: center;
    padding : 15px 20px;
    border : solid 2px white;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}

.boutton8{
    display: flex;
    position: absolute;
    left: 41vw;
    right: auto;
    justify-content: center;
    padding : 15px 20px;
    border : solid 2px white;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}

.boutton9{
    display: flex;
    position: absolute;
    right: 15.75vw;
    left: auto;
    justify-content: center;
    padding : 15px 20px;
    border : solid 2px white;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}
.bloc3{
    opacity: 0;
    animation: pop1 2s;
    animation-delay: 2.2s;
    border : transparent 10px solid;
    border-radius: 30px;
}

.bloc4{
    opacity: 0;
    animation: pop2 2s;
    animation-delay: 1.7s;
    border : transparent 10px solid;
    border-radius: 30px;
}

.bloc5{
    opacity: 0;
    animation: pop3 2s;
    animation-delay: 2.6s;
    border : transparent 10px solid;
    border-radius: 30px;
}

.bloc6{
    opacity: 0;
    animation: pop4 2s;
    animation-delay: 3s;
    border : transparent 10px solid;
    border-radius: 30px;
}

.bloc7{
    opacity: 0;
    animation: pop5 2s;
    animation-delay: 1s;
    border : transparent 10px solid;
    border-radius: 30px;
}

.bloc8{
    opacity: 0;
    animation: pop6 2s;
    animation-delay: 2s;
    border : transparent 10px solid;
    border-radius: 30px;
}

.bloc9{
    opacity: 0;
    animation: pop7 2.3s;
    animation-delay: 3.2s;
    border : transparent 10px solid;
    border-radius: 30px;
}

@keyframes pop1 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes pop2 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes pop3 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes pop4 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes pop5 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes pop6 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes pop7 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
.mich
{
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

/* Exercice : Cardio */

.grid2>.lien1, .grid2>.lien2, .grid2>.lien3
{
    padding-top: 15%;
}
.grid2>.lien1>h1, .grid2>.lien2>h1, .grid2>.lien3>h1
{
    font-size: 1.8vw;
}
.grid2>.lien1>p, .grid2>.lien2>p, .grid2>.lien3>p
{
    font-size: 1.25vw;
}